.service-price {
    font-size: 1.3rem;
    color: tomato;
}
.service-price-for-person {
    font-size: 0.8rem;
    color: gray;
}
.icon {
    color: tomato;
}
.booking-btn {
    border: 0;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: tomato;
    color: white;
    font-size: 1.1rem;
}
