.footer {
    background-color: rgb(226, 226, 226);
    color: rgb(107, 107, 107);
    padding: 20px;
    margin-top: 200px;
}
.footer a {
    text-decoration: none;
    display: block;
    color: rgb(107, 107, 107);
}
.title {
    color: #f79f1f;
}
.input-field {
    font-size: 12px;
}
.copyright {
    font-size: 1.3rem;
    font-weight: 400;
}
.team-name {
    font-weight: 600;
    color: #f79f1f;
}
